<%- include('content/header') -%>
    <%- include('content/navbar') -%>
    <div class="container flex justify-center align-items">
    <a href="/books"><button class="btn-index">Go To BookStore</button></a>
  </div>
<%- include('content/footer') -%>