<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <span><a href="/">Home</a></span>
      <h1><%= title %></h1>
      
      <span><a href="/articles">Articles List</a> | <a href="/articles/new">Add Article</a></span>
    </header>
    <p>Welcome to <%= title %></p>
    <button class="btn-index"><a href="/articles">Go To Articles</a></button>
  </body>
</html>
